<nav class="navbar">
  <div class="logo">Flipkart</div>

  <ul class="nav-links">
    <li class="dropdown">
      <a href="#">My Account</a>
      <ul class="dropdown-menu">
        <li><a href="#">My Profile</a></li>
        <li><a href="#">SuperCoin Zone</a></li>
        <li><a href="#">Flipkart Plus Zone</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Wishlist</a></li>
        <li><a href="#">Coupons</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>
